@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #202d36;
  color: #fff;
}
img {
  max-width: 100%;
}
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
/* FILTER */
.filter {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.filter .form-control {
  width: 100%;
}
.filter .form-control input {
  background-color: #2b3743;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  font-family: inherit;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 0 30px;
}

.filter .form-control input::placeholder {
  color: #fff;
}
.filter .region-filter {
  width: 100%;
}
.filter .region-filter .select {
  background-color: #2b3743;
  color: #fff;
  font-family: inherit;
  padding: 12px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
}
.grid article {
  box-shadow: 0 10px 10px rgba(9, 17, 22, 0.5);
}
.grid article img {
  border-radius: 5px 5px 0 0;
  height: 250px;
  width: 100%;
  object-fit: fill;
}
.grid .details {
  background-color: #2b3743;
  padding: 20px;
  margin-top: -20px;
  border-radius: 0 0 5px 5px;
}
.grid .details h3 {
  padding-bottom: 10px;
}
.grid .details h4 {
  padding-bottom: 10px;
}
.grid .details h4 span {
  font-weight: 300;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid article img {
    width: 250;
  }
}
@media (min-width: 768px) {
  .filter {
    flex-direction: row;
    justify-content: space-between;
  }
  .filter .region-filter {
    width: auto;
  }
  .filter .form-control {
    width: auto;
  }
  .filter.form-control input {
    width: auto;
    margin: 0;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .header,
  .filter,
  .grid {
    padding: 20px 100px;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}
